{% extends 'base.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
<h1>Редактирование пользователя {{user.getName}} {{user.getSurname}} </h1>
    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.name ) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.phone_number) }}
        {{ form_row(form.email) }}
        {{ form_row(form.education) }}
        {{ form_row(form.agree_terms) }}
        
       <div>
        <button type="submit" class="btn btn-sm btn-danger">Обновить</button>
    {{ form_end(form) }}
    <a href="{{ path('index_users') }}" class="btn btn-sm btn-primary">На главную</a>
    </div>
{% endblock %}

